.github/
.husky/
.nyc_output/
.vscode/
coverage/
docs/
src/
test-data/
node_modules/
.editorconfig
biome.json
.gitignore
npm-debug.log
pnpm-workspace.yaml
rollup.config.mjs
tsconfig.browser.json
tsconfig.esm.json
tsconfig.json
